services:
  web:
    build: .
    restart: unless-stopped
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
  mongodb:
    image: mongo:5.0
    container_name: mongo
    restart: unless-stopped
    ports:
        - 26083:27017
    volumes:
        - /data/db
    command: [--auth]
